Options -Indexes

<FilesMatch "^\.">
    Require all denied
</FilesMatch>

<FilesMatch "\.(php|phtml|phar|php3|php4|php5|php7|php8|cgi|pl|asp|aspx|jsp|sh)$">
    Require all denied
</FilesMatch>

RemoveHandler .php .phtml .phar .php3 .php4 .php5 .php7 .php8
RemoveType .php .phtml .phar .php3 .php4 .php5 .php7 .php8